{% extends 'app/index.html' %}

{% load static %}

{% block editar_usuario %}



   
       
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    
                    <h2>Editar Perfil</h2>

                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        </form>
                

                        <h4>Deseas cambiar tu contraseña?</h4>

                        <a href="{% url 'CambiarContrasena' %}" class="btn btn-secondary">Cambiar</a>
                        


                </div>
            </div>
        </div>
  








{% endblock editar_usuario %}

