{% extends 'app/base.html' %}

{% load static %}



{% block main %}



    <div class="container my-5">
        <div class="row justify-content-center">

         

            <div class="card" style="width: 18rem;">

               
                <h5 class= 'text-center'>Amplificador - Detalles</5>


                    <figure class="figure text-center" >
                        <img src="{{ amplificador.imagen.url }}" class="figure-img img-fluid rounded" width="200" height="200" alt="...">
                    </figure>
                <div class="card-body">
                    <h5 class="card-title"><p>Marca:{{amplificador.marca}}<p></h5>
                    <p>Descripción: <i>{{amplificador.descripcion}}</i><p>  
                        
                </div>

                <ul class="list-group list-group-flush">
                <li class="list-group-item"><p>Modelo: <i>{{amplificador.modelo}}</i><p></li>
                <li class="list-group-item"><p>Serial: <i>{{amplificador.serial}}</i><p></li>
                <li class="list-group-item"><p>Año: <i>{{amplificador.anio}}</i><p></li>
                <li class="list-group-item"><p>Precio: <i>{{amplificador.precio}}</i><p></li>
                <li class="list-group-item"><p>Potencia: <i>{{amplificador.potencia}}</i><p></li>
                <li class="list-group-item"><p>Publicada por: <i>{{amplificador.creado_por}} el {{amplificador.fecha_hora}}</i><p></li>
            

                </ul>

                <div class="card-body">

                    <a href="{% url "ListaAmplificadores" %}">Regresar</a>
                   
                
                </div>
            </div>
        </div>    
    </div>



{% endblock main %}
