{% extends 'app/base.html' %}

{% load static %}


{% block main %}


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            
            <h2>Crear Efecto </h2>


                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
        
        </div>
    </div>
</div>

{% endblock main %}
