{% extends 'app/base.html' %}

{% load static %}


{% block main %}

{% block title %} 

<div class="container-sm text-center">
    <h2>Listado Efectos</h2>
    {% if user.is_authenticated %}
      <a href="{% url 'NuevoEfecto' %}" class="btn btn-primary">Nuevo efecto</a>
    {% endif %}
</div>


{% endblock title %}


{% if Efectos %}

    {% for efecto in Efectos %}
            

                       
            <div class="container-md mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5>Efecto: {{efecto.marca}}, {{efecto.modelo}}, {{efecto.serial}}</h5>
                    </div>
                    <div class="card-body">
                      

                      <div class="row">

                        <div class="col-2">


                    
                            <figure class="figure">
                                <img src="{%static 'images/img01.jpg'%}" class="figure-img img-fluid rounded" width="200" height="200" alt="...">
                              </figure>

                        </div>

                        <div class="col-10">

                            <h5 class="card-title"><p>Año:{{efecto.anio}}, Precio: {{efecto.precio}} <p></h5>
                                <p class="card-text"><p>Descripción: {{efecto.descripcion}}<p></p>
                                <a href="{% url "DetalleEfecto" efecto.pk %}" class="btn btn-primary">Ver</a>
                                {% if user.is_authenticated %}
                                  |
                                  <a href="{% url "EditarEfecto" efecto.pk %}" class="btn btn-primary">Editar</a>
                                  |                                                               
                                  <a href="{% url "BorrarEfecto" efecto.pk %}" class="btn btn-primary">Borrar</a>
                                {% endif %}


                        </div>



                      </div>


                    </div>
                  </div>
                </div>

    {% endfor %}

{% else %}


<div class="container my-5">
  <div class="row justify-content-center">
      <div class="col-lg-6">
          
          <h2>No existe ninguna efecto registrado aún!  </h2>

      
      </div>
  </div>
</div>


{% endif %}


{% endblock main %}
